<h1 class="text-2xl font-bold mb-5">Danh sách nhân viên</h1>
<a href="/users/create" type="button"
    class="mb-5 ml-auto text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Tạo
    mới</a>
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    STT
                </th>
                <th scope="col" class="px-6 py-3">
                    Tên nhân viên
                </th>
                <th scope="col" class="px-6 py-3">
                    Mã vân tay
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4">
                    {{formatIndex @index}}
                </td>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{this.name}}
                </th>
                <td class="px-6 py-4">
                    {{this.fingerprintId}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>